/arkaplan.py
/cizgiler.jpg
/cry.jpg
/Deneme1.py
/deney.jpg
/edgePreserving.py
/gauss.py
/geometrikDonüşümler.py
/griResim.png
/hand.py
/histogram.py
/hoffmanOlaslılıksal.py
/Kontur.py
/resim.jpg
/resim.png
/RgbDeneme.py
/rio.py
/sobel.py